.header-gradient {
 height: 26rem;
 background: rgb(12,9,19);
 background: linear-gradient(180deg, rgba(12,9,19,1) 0%, rgba(24,21,35,1) 100%);
}
.about-grid {
  /*background-color: #D2D0CF;*/
  /*max-width: 1000px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.about {
  /*background-color: #524E5E;*/
  background: #181523;
  flex-basis: calc(33.333% - 4rem);
  margin: 1rem;
  padding: 2.2rem;
  flex-grow: 1;
}
.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*border-style: solid;*/
  /*border-color: white;*/
  /*border-radius: 7px;*/
  /*margin: 0 8rem 4rem 8rem;*/
  padding: 2rem;
}

.contact {
  margin: 0;
  padding: 0;
}

.contact-img {
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding: 2rem;*/
  border-radius: 50%;
  max-width: 30%;
  height: auto;
  float: left;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.contact-img:hover {
  transform: scale(1.05);
}
.contact-h2 {
  /*font-family: 'Helvetica Neue';*/
  color: #222;
  font-size: 32px;
  font-weight: 400;
}
.contact-p {
  background-color: #0c0913;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  padding: 2rem;
  color: white;
  /*font-family: 'Segoe UI';*/
  font-size: 18px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 2rem;
}
.skills-heading {
  color: white;
  /*font-family: 'Segoe UI';*/
  font-size: 18px;
  margin-block-start: 0em;
    text-align: center;
}
.skills-grid {
  color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*grid-template-columns: auto auto auto auto;*/
}

.title {
  /*background: #524E5E;*/
  background: #181523;
  margin: 0;
  padding: 4rem;
}
